@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


html,*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'DynaPuff', cursive;
 text-decoration: none;
 list-style: none;
}